@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .header{
    position:sticky;
    margin-bottom: 20px; 
    /* background-color: rgb(94, 145, 128); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
header .header h3{
    font-size: 40px;
    color: rgb(2, 8, 12);
}

header .header .button {
    background-color: rgb(3, 49, 34);
    color: rgb(231, 248, 248);
    height: 35px;
    width: 100px;
    border: 2px solid rgb(1, 27, 22);
    border-radius: 5px;
    font-size: 18px ;
    margin: 10px;
    text-align: center;
    /* font-weight: bold; */
}
header .header .button a{
    text-decoration: none;
    color: rgb(253, 255, 255);
}

p{
    margin: 20px;
    padding: 5px;
}
h3{
    font-size: 40px;
    margin: 20px;
}
.profile{
    display: flex;
    justify-content: center;
}

.profile img{
    height: 100px;
}

h5{
    font-size: 28px;
    margin: 20px;
}

ul li{
    margin: 50px;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    list-style: none;
    height: 28px;
    width:1000px;
   
}

.courses{
    display: flex;
    justify-content: space-between;
    /* margin-left: 300px; */
    margin-right: 300px;
    border: 2px black;
}