@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h5{
    font-size: 30px;
    margin: 20px;
    margin-left: 60px;
}

.course_content{
    font-size: 20px;
    margin: 20px;
    margin-top: 30px;
    margin-left: 60px;
    color: rgb(119, 115, 115);
}

.week0{
    font-size: 20px;
    margin: 20px;
    margin-top: 30px;
    margin-left: 60px;
    color: rgb(8, 5, 5);
}

.underline-title{
    width:900px;
    margin-left: 60px;
    background-color: rgb(165, 161, 161);
    height: 2px;
    margin: 20px;
}

.container{
    margin: 40px;
    padding: 20px;
}
.task1 , .task2 , .task3 , .task4{
    margin: 20px;
    padding: 5px;
    height:40px;
    width: 800px;
    /* background-color: rgb(85, 87, 87); */
    border: 2px double rgb(83, 83, 83);
    border-radius: 5px;
    text-align: start;
}

.task1 a, .task2 a, .task3 a, .task4 a{
    text-decoration: none;
    color: black;
}